.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn--white {
  background-color: #fff;
  color: #333;
  font-size: 1.7rem;
  font-weight: 700;
}

.bttn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.bttn:hover, .bttn:focus {
  color: #fff;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.second {
  border-radius: 3em;
  border-color: #1abc9c;
  color: #fff;
  background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
  background-position: 0 0;
  background-size: 100%;
  transition: background 300ms ease-in-out;
}
.second:hover {
  background-position: 100px;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

.sixth {
  border-radius: 3em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.sixth:hover {
  color: #fff;
  background-position: 0 100%;
}

/* Heros are here */
/* Hero Home - 01 start here 1 */
.hero1__hero {
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.6), rgba(51, 51, 51, 0.6)), url("..//img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 100vh;
  position: relative;
}
.hero1__shadow {
  filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.4));
}
.hero1__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.hero1__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero1__heading-primary--main {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 10rem;
  color: #fff;
}
.hero1__heading-primary--sub {
  display: block;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.40rem;
}

/* Heros end here */
/* Introductions start here */
.introduction {
  margin-top: -20rem;
  background: #999;
  background: -webkit-linear-gradient(to right, #fff, #999);
  background: linear-gradient(to right, #fff, #999);
  padding: 20rem 0;
}

.enjoy-css {
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: #333333;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: #777777;
  text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white, 0 5px 0 white, 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.into__image {
  width: 100%;
}

.intro__2 {
  padding-top: 10rem;
}
.intro__2-text {
  font-size: 3rem;
}

.some__text {
  font-size: 1.6rem;
  padding-top: 3rem;
}

/* Introductions ends here */
/* Introductions start here */
.our-work {
  padding: 15rem 0;
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.6), rgba(51, 51, 51, 0.6)), url("https://cdn.pixabay.com/photo/2017/08/04/20/04/camping-2581242_640.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -10rem;
  transform: skewY(-7deg);
}
.our-work > * {
  transform: skewY(7deg);
}

.card {
  width: 100%;
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.7), rgba(51, 51, 51, 0.7));
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 1.6rem;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  font-size: 1.6rem;
  height: 70px;
  margin: 0;
}

.example-2 .wrapper-1 {
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.6), rgba(51, 51, 51, 0.6)), url("https://cdn.pixabay.com/photo/2017/11/23/10/08/the-three-peaks-of-lavaredo-2972497_640.jpg");
  background-size: cover;
  background-position: center;
}
.example-2 .wrapper-2 {
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.6), rgba(51, 51, 51, 0.6)), url("https://cdn.pixabay.com/photo/2017/03/07/14/19/landscape-2124113_640.jpg");
  background-size: cover;
  background-position: center;
}
.example-2 .wrapper-3 {
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.6), rgba(51, 51, 51, 0.6)), url("https://cdn.pixabay.com/photo/2017/11/16/17/24/pragser-wildsee-2955236_640.jpg");
  background-size: cover;
  background-position: center;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
}
.example-2 .header::before, .example-2 .header::after {
  content: '';
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}
.example-2 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

/* Introductions ends here */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#333, #777);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #333;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}
.navigation__icon::before {
  top: -.8rem;
}
.navigation__icon::after {
  top: .8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center !important;
}

.margin-top-big {
  margin-top: 8rem;
}

.padding-top-20 {
  padding-top: 20rem;
}

/* home css */
.home-1__pricing {
  margin-top: -10rem;
  background: #999;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #999, #fff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #999, #fff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 15rem;
}

.card__price {
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}
.card__price_left {
  -webkit-box-shadow: -7px 7px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -7px 7px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: -7px 7px 5px -1px rgba(0, 0, 0, 0.6);
}
.card__price_center {
  -webkit-box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.6);
}
.card__price_right {
  -webkit-box-shadow: 7px 7px 5px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 7px 5px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 7px 5px -1px rgba(0, 0, 0, 0.6);
}
.card__price_img {
  width: 100%;
  height: 15rem;
}
.card__price_color-1 {
  background: #999;
  background: -webkit-linear-gradient(to right, #999, #fff);
  background: linear-gradient(to right, #999, #fff);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  height: 60px;
  margin: -2px;
  overflow: hidden;
}
.card__price_color-2 {
  background: #999;
  background: -webkit-linear-gradient(to right, #fff, #999);
  background: linear-gradient(to right, #fff, #999);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  height: 60px;
  margin: -2px;
}

.pricing__h1 {
  font-size: 3rem;
  padding-bottom: 5rem;
}

.price__h1 {
  font-size: 1.6rem;
  padding: .5rem 0;
}

.price_table {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.price_items {
  padding: .5rem 0;
}

.price_items:not(:last-child) {
  border-bottom: 1px #777 solid;
}

.btn-center {
  margin: 1rem auto;
}

.home-1__footer {
  height: 10rem;
  background-color: #333;
  -webkit-box-shadow: 0px -7px 14px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px -7px 14px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -7px 14px -2px rgba(0, 0, 0, 0.6);
}

.home-1__footer {
  position: relative;
}

.socilas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-social {
  padding: 0 3rem;
}

#icon .fa {
  color: white;
  margin: 5px 15px;
}

#icon .tw:hover {
  color: #6cadde;
}

#icon .fb:hover {
  color: #3b5998;
}

#icon .in:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icon .li:hover {
  color: #0077B5;
}

#icon a:link,
a:hover,
a:visited {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
