// Button Default Style
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    border: none;
    cursor: pointer;
  }
  
  // White Button Style
  &--white {
    background-color: $white;
    color: $color-grey-dark-3;
    font-size: 1.7rem;
    font-weight: 700;
  }
}
