.hero1 {
    // Hero image and clip-path
  &__hero {
    background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("..//img/hero.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 100vh;
    position: relative;
  }

  // shadow for the home-1 hero
  &__shadow {
    filter: drop-shadow(0px 7px 5px rgba(0,0,0,0.4))
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__heading-primary--main {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 10rem;
    color: $color-white;
  }
  
  &__heading-primary--sub {
    display: block;
    color: $color-white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.40rem;
  }
}

// test here for the secon part
.introduction {
  margin-top: -20rem;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20rem 0;
  
  
}



.enjoy-css {
  text-align: center;  
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba($color-grey-dark-3 ,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: rgba($color-grey-dark ,1);
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.into__image {
  width: 100%;
}

.intro__2 {
  padding-top: 10rem;

  &-text {
    font-size: 3rem;
  }
}

.some__text {
  font-size: 1.6rem;
  padding-top: 3rem;  
}


.our-work {
  padding: 15rem 0;
  background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("https://cdn.pixabay.com/photo/2017/08/04/20/04/camping-2581242_640.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * {
      transform: skewY(7deg);
    }

}

.our-work__img {
  width: 100%;
}

.home-1__card {
   background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab); 
  background: linear-gradient(to right, #ffffff, #abbaab); 
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid $color-grey-dark-2;
  padding: .5rem;

  &__img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    width: 100%;
  }

  &-text-main {
    padding: 1rem;
    font-size: 1.8rem;
  }

  &-some-text {
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }
}

.home-1__pricing {
  margin-top: -10rem;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #abbaab, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}




// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

a {
  text-decoration: none;
}


// Base styles
.card {
  width: 100%;

  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.7),
        rgba($color-grey-dark-3, 0.7));
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 1.6rem;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    font-size: 1.6rem;
    height: 70px;
    margin: 0;
  }

}


// Second example styles
.example-2 {
  .wrapper-1 {
    background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("https://cdn.pixabay.com/photo/2017/11/23/10/08/the-three-peaks-of-lavaredo-2972497_640.jpg");
    background-size: cover;
    background-position: center;
  }
  .wrapper-2 {
    background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("https://cdn.pixabay.com/photo/2017/03/07/14/19/landscape-2124113_640.jpg");
    background-size: cover;
    background-position: center;
  }
  .wrapper-3 {
    // background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center / cover no-repeat;
    background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("https://cdn.pixabay.com/photo/2017/11/16/17/24/pragser-wildsee-2955236_640.jpg");
    background-size: cover;
    background-position: center;
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }

  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}