.hero1 {
    // Hero image and clip-path
  &__hero {
    background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("..//img/hero.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 100vh;
    position: relative;
  }

  // shadow for the home-1 hero
  &__shadow {
    filter: drop-shadow(0px 7px 5px rgba(0,0,0,0.4))
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__heading-primary--main {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 10rem;
    color: $color-white;
  }
  
  &__heading-primary--sub {
    display: block;
    color: $color-white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.40rem;
  }
}

// test here for the secon part
.introduction {
  margin-top: -20rem;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20rem 0;
  
  
}



.enjoy-css {
  text-align: center;  
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba($color-grey-dark-3 ,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: rgba($color-grey-dark ,1);
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.into__image {
  width: 100%;
}

.intro__2 {
  padding-top: 10rem;

  &-text {
    font-size: 3rem;
  }
}

.some__text {
  font-size: 1.6rem;
  padding-top: 3rem;  
}


.our-work {
  padding: 15rem 0;
  background-image:linear-gradient(
        to right top,
        rgba($color-grey-dark, 0.6),
        rgba($color-grey-dark-3, 0.6)),
        url("https://cdn.pixabay.com/photo/2017/08/04/20/04/camping-2581242_640.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * {
      transform: skewY(7deg);
    }

}

.our-work__img {
  width: 100%;
}

.home-1__card {
   background: #abbaab;
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab); 
  background: linear-gradient(to right, #ffffff, #abbaab); 
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid $color-grey-dark-2;
  padding: .5rem;

  &__img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    width: 100%;
  }

  &-text-main {
    padding: 1rem;
    font-size: 1.8rem;
  }

  &-some-text {
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }
}

.home-1__pricing {
  margin-top: -10rem;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #abbaab, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}